@import '@/shared/styles/index.module.scss';

.window {
  @include window();

  .header {
    @include windowHeader($textWhite);
  }

  .main {
    @include windowMain($textBlack);

    .input {
      margin-bottom: 35px;

      p {
        color: $textError;
        font-size: 16px;
        position: absolute;
        padding-top: 5px;
        z-index: 100;
      }
    }
  }

  .forgotPass {
    height: 40px;
		margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      cursor: pointer;
    }

    .checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .paragraph {
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
  }
}
