@import '../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  line-height: 1.1;
  color: $secondColor;
  font-weight: normal;
  background-color: #fff;
  border-bottom: 1px solid #cfdbe2;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
}
