@import '@/shared/styles/variables';

.aside {
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  backface-visibility: hidden;
  background-color: $secondColor;
  position: fixed;
  height: 1px;
  min-height: 100%;

  .aside_inner {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 65px;
    height: 100%;
    width: 220px;
    overflow: hidden;

    .sidebar {
      height: 100%;
      padding-bottom: 20px;
      background-color: $secondColor;

      overflow-x: hidden;
      border-right: 1px solid #e6e6e6;
    }
  }
}
