@import './variables.scss';

@mixin headTitle {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  line-height: 1.1;
  color: $secondColor;
  font-weight: normal;
  background-color: #fff;
  border-bottom: 1px solid #cfdbe2;
}

@mixin window {
  width: 450px;
  min-height: $minHeightAuth;
  background-color: $background;
  border-radius: 6px;
}

@mixin windowHeader($color) {
  border-radius: 6px 6px 0 0;
  background-color: $mainColor;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: $color;
  margin-bottom: 15px;
}

@mixin windowMain($color) {
  padding: 10px;
  min-height: 300px;
}

@mixin windowInputs($height) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    color: #9ba0a7;
    font-size: 14px;
    user-select: none;
  }

  input {
    font-size: 14px;
  }

  > div {
    width: 100%;
  }
}

@mixin inputsForm() {
  .title {
    margin-bottom: 10px;
  }

  .input {
    width: 100%;
  }

  .error_box {
    position: relative;
    margin-top: 30px;

    .text_error {
      position: absolute;
      top: -25px;
      color: red;
      font-size: 14px;
    }
  }
}
